/* @import url(header.css); */
/* header css */
#header {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 50px;
    border-bottom: 2px solid #555;
}

#header-top {
    margin: 0 50px;
    border-bottom: 1px dashed #2ba6cb;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}


#blog-title {
    font: 2.4em "CaviarDreams";
    font-size: 2.4em;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    color: #555;
}

#blog-sub-title {
    font: 0.8em "CaviarDreams";
    font-size: 0.8em;
    color: gray;
}


#nav ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;
    position: relative;
}
#nav ul li {
    display: inline-block;
    margin: 0 1.5em;
    font: 0.9em "CaviarDreams";
    font-size: 0.9em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#nav ul li a {
    color: #333;
    padding: 15px 5px;
}

#nav ul li span {
    padding: 15px 5px;
    cursor: pointer;
}


#nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: white;

    font-weight: normal;

    border: 1px solid #aaa;
    border-top: none;
    -webkit-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

}

#nav ul li:hover > ul {
    display: block;
}

#nav ul ul li {
    display: block;
    border-top: 1px solid #aaa;
    margin: 0;
}

#nav ul ul li a {
    display: block;
    padding: 1.2em 2em;
}

#nav ul ul li a:hover {
    background: #4b545f;
    text-decoration: none;
    color: white;
}
#nav ul ul li a span {
    margin: 0 15px 0 0;
}
/* end header css */

/*some basic css */
body {
    width:70%;
    margin: 0 auto;
    font-family: arial, sans-serif, "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    line-height: 150%;
}

H1 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

H2 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 90%;
    line-height: 150%;
    color: DarkGreen;
}


H3 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}


H4 {
    font-family: STKaiti, "Kaiti SC", "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}

.title {
/*font-size: 18px;*/
}
pre {
    font-family: Monaco, Consolas, Inconsolata, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    color: black;
    background-color: #efefef;
    font-size: 85%;
    border: 1px solid #dddddd;

    padding: 10px;
    line-height: 140%;
    margin-left: 10px;
    width: 95%;

    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
}

pre.src { background-color:#2e3436; color: #eeeeec;}

code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 90%;
}

a {
    text-decoration: none;
    /*cursor: crosshair;*/
    padding: 1px;
    color: black;
}

#content a {
    border-bottom: 1px dashed Red;
}

a:hover {
    background-color: LightGrey;
}

img {
    margin-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    color: LightGrey;
}

/*end basic tag css*/
#footer {
    min-height: 50px;
    margin-top: 30px;
    text-align: center;
}
#footer ul{
    list-style: none;
}
#footer li {
    float: left;
    display: inline-block;
    vertical-align: baseline;
    padding: 0px 0px 0px 0.3em;
    margin: 0px 0px 0px 0.6em;
    margin: 0px none;
}
#footer ul li a {
    color: blue;
}


/*#table-of-contents {
  font-size: 10pt;
  position: fixed;
  right: 0em;

top: 30%;
background: white;
-webkit-box-shadow: 0 0 1em #777777;
-moz-box-shadow: 0 0 1em #777777;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
text-align: right;

max-height: 80%;
overflow: auto;
z-index: 1;
}
#table-of-contents h2 {
font-size: 10pt;
max-width: 9em;
font-weight: normal;
color: white;
padding-left: 0.5em;
padding-left: 0.5em;
padding-top: 0.05em;
padding-bottom: 0.05em; }
#table-of-contents #text-table-of-contents {
display: none;
text-align: left; }
#table-of-contents:hover #text-table-of-contents {
display: block;
padding: 0.5em;
margin-top: -1.5em; }
*/

/*#table-of-contents{
  position: fixed;
  font-size: 10pt;
  right: 0em;
  top: 40%;
  content: none;

-webkit-box-shadow: 0 0 1em #777777;
-moz-box-shadow: 0 0 1em #777777;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;

width: 64px;
height: 64px;
text-align: right;
background: black;
max-height: 80%;
overflow: auto;

z-index: 1;
}*/
#table-of-contents {
    position: fixed;
    display: block;
    top: 50%;
    right: 0;
    background: transparent url(/static/img/body_dark_bg.png);
    padding: 10px 20px 10px 10px;
    margin-top: -100px;
    border-bottom-left-radius: 42px;
    border-top-left-radius: 42px;

    outline: none;
    color: #6D6E71;
    font-size: 20px;
    font-weight: bold;
    display: block;
    height: 64px;
    width: 64px;

}
#table-of-contents h2 {
    background: transparent url(/static/img/go_bg.png) no-repeat 0 0;
    height: 64px;
    width: 64px;
    margin: 0;
    padding: 0;
    display: block;
    content: " ";
    float: left;

    text-indent: -9999px;

}

#table-of-contents #text-table-of-contents{
    display: none;
    text-align: left;
}


/*#table-of-contents:hover {
  position: fixed;
  top: 5%;
  width: 200px;
  background: white none no-repeat;

}*/

#table-of-contents:hover #text-table-of-contents {
    display: block;
    /*    margin-right: -1.5em;*/
    padding-right: 3px;
    /*background: white repeat scroll 0 0 black;*/
    background: transparent url(/static/img/body_dark_bg.png);
    font-size: 10pt;
    max-height: 80%;
    min-height: 40%;
    overflow: auto;
    position: fixed;
    right: 0;
    text-align: left;
    top: 10%;
    z-index: 1;
}
