html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0
}
a {
    text-decoration: none;
    padding: 1px;
    color: black;
}

#content a {
    border-bottom: 1px dashed Red;
}

#content a:hover {
    color: rgb(130,130,130);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

b, strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
mark {
    background: #ff0;
    color: #000
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}
pre {
    white-space: pre-wrap
}
pre.src { background-color:#2e3436; color: #eeeeec;}
pre.example {background-color:rgb(239,239,239);}
p {
    font-family:inherit;
    font-weight:normal;
    font-size:1em;
    line-height:1.6;
    margin-bottom:1.25em;
}
q {
    quotes: "\201C""\201D""\2018""\2019"
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    margin-left: 10px;
    display: block;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}
button,
input {
    line-height: normal
}
button,
select {
    text-transform: none
}

button: : -moz-focus-inner, input: : -moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

html,body{
    font-size:16px;
}

body {
    background: #fefffe;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: Verdana, "华文细黑", STHeiti, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased
}

#header {
    border-bottom:1px solid rgb(197,197,197);
    text-align:center;
    width:80%;
    margin:0 auto;
    /* max-width:43em; */
    min-height:8em;
}
#blog-title {
    margin-bottom:1.5em;
}
.nav{
    list-style:none;
    /* margin:0 auto; */
}
#header ul li{
    float:left;
}
#header li a {
    font-size:20px;
    display:block;
    color:#000000;
    text-decoration:none;
    padding-top:4px;
    width:97px;
    height:22px;
    text-align:center;
    margin-left:2px;
}
#header form {
    float:right;
    margin:0;
    padding:0;
}
#content{
    width:100%;
    /* margin:0 auto; */
    margin-left:10%;
    max-width:43em;
    line-height:1.6;
}
#table-of-contents {
    position:absolute;
    right:2%;
    top:10em;
    max-width:23em;
    max-height:80%;
    min-height:40%;
    display:block;
    z-index:100;
}
#table-of-contents h2{
    display:none;
}
#text-table-of-contents {
    border:1px solid rgb(197,197,197);
}
/*end basic tag css*/
#footer {
    min-height: 50px;
    margin-top: 30px;
    text-align: center;
}
#footer ul{
    list-style: none;
}
#footer li {
    float: left;
    display: inline-block;
    vertical-align: baseline;
    padding: 0px 0px 0px 0.3em;
    margin: 0px 0px 0px 0.6em;
    margin: 0px none;
}
#footer ul li a {
    color: blue;
}
